/* Styles go here */
* {
  margin: 0;
  padding: 0;
}

.dialogue-img {
  max-height: 50%;
  max-width: 50%;
}

.dialogue-text {
  color: #222;
  font-size: 1.25em;
  font-family: fantasy;
}

#hint-dialogue {
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.25);
  position: fixed;
  z-index: 2;
}

#hint-dialogue .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  margin: auto;
}
