body {
  background-color: #B6D094;
}

.threads-header {
  background-color: #F2E9DC;
  top: 0px;
  margin-top: -1.4em;
  padding: 0.4em;
}

h1 {
  text-align: center;
}

ul {
  text-align: center;
}
